.App {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.products {
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.products h3 {
    grid-column: span 2;
}
